Jinja2==3.1.5
joblib==1.4.2
Bootstrap-Flask==2.4.1
WTForms==3.2.1
Flask==3.1.0
flask-bootstrap5==0.1.dev1
Flask-WTF==1.2.2
ipykernel==6.29.5
ipython==8.31.0
scikit-learn==1.6.0
scipy==1.14.1
numpy=2.2.1
pandas==2.2.3
matplotlib==3.10.0
seaborn==0.13.2
shap
pyton-dotenv
gunicorn==21.2.0